<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Utility.Listener"/>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testcases.Menuicon"/>
      <class name="Testcases.Logoutbutton"/>
      <class name="Testcases.Cartinformcheck"/>
      <class name="Testcases.Filtertestcase"/>
      <class name="Testcases.Logintestcases"/>
      <class name="Testcases.Productordertestcase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
